{# Copyright 2023 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<span class="badge badge-pill badge-{{ type_color }} font-weight-normal badge-mt-minus mr-1">
  {{ type | capitalize }}
</span>
<strong>{{ label }}</strong>
<br>
<small>
  <a href="{{ term }}" target="_blank" rel="noopener noreferrer">
    <i class="fa-solid fa-arrow-up-right-from-square fa-sm mr-1"></i> {{ term }}
  </a>
</small>

{% if description %}
  <br>
  <small class="text-muted">{{ description }}</small>
{% endif %}
