{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="d-md-flex justify-content-between align-items-center">
  <div class="mb-3 mb-md-0">
    {% trans %}Created by{% endtrans %}
    <identity-popover :user="{{ json_user(resource.creator) }}"></identity-popover>
  </div>
  <div>
    <small>
      {% trans %}Created at{% endtrans %}
      <local-timestamp timestamp="{{ resource.created_at }}"></local-timestamp>
      <span class="text-muted">
        (<from-now timestamp="{{ resource.created_at }}"></from-now>)
      </span>
    </small>
    <br>
    <small>
      {% trans %}Last modified at{% endtrans %}
      <local-timestamp timestamp="{{ resource.last_modified }}"></local-timestamp>
      <span class="text-muted">
        (<from-now timestamp="{{ resource.last_modified }}"></from-now>)
      </span>
    </small>
  </div>
</div>
