{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% if not provider.is_connected %}
  <service-manager connect-endpoint="{{ url_for('settings.oauth2_provider_login', provider=provider.name) }}"
                   manage-endpoint="{{ url_for('settings.manage_services') }}">
  </service-manager>
{% else %}
  <confirm-dialog ref="dialog"></confirm-dialog>

  {% if provider.description %}
    {{ provider.description }}
  {% else %}
    <div class="text-muted">
      <em>{% trans %}No description.{% endtrans %}</em>
    </div>
  {% endif %}

  {% if form %}
    <hr>
  {% endif %}

  <submission-form ref="publish">
    {{ render_csrf() }}

    {% if form %}
      {{ template_hook("kadi_get_publication_form_template", provider=provider.name, resource=resource, form=form) }}
    {% endif %}
  </submission-form>
  <hr>
  <button type="button" class="btn btn-sm btn-primary" @click="publishResource">
    {% trans %}Publish resource{% endtrans %}
  </button>
{% endif %}
