{# Copyright 2024 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% if next_revision or prev_revision %}
  <div class="card mb-2">
    <div class="card-body py-2">
      <div class="row">
        <div class="col-sm-6">
          {% if next_revision %}
            <a href="{{ url_for(endpoint, revision_id=next_revision.id, **endpoint_args) }}">
              <i class="fa-solid fa-angle-left mr-2"></i>
              <strong>{% trans %}Next revision{% endtrans %}</strong>
            </a>
          {% endif %}

          {% if next_revision and prev_revision %}
            <hr class="my-2 d-sm-none d-block">
          {% endif %}
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
          {% if prev_revision %}
            <a href="{{ url_for(endpoint, revision_id=prev_revision.id, **endpoint_args) }}">
              <strong class="mr-2">{% trans %}Previous revision{% endtrans %}</strong>
              <i class="fa-solid fa-angle-right"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
