{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "groups/manage_group_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html", url=url_for("groups.view_group", id=group.id), title=group.title %}
  {% snippet "snippets/breadcrumb.html", url=url_for("groups.manage_members", id=group.id), title=title %}
{% endblock %}

{% block content %}
  <confirm-dialog ref="dialog"></confirm-dialog>

  {% snippet "groups/snippets/back_to_group.html", group=group, tab="overview" %}

  <div class="card">
    <nav-tabs :tabs="['members', 'rules']">
      <template #members-head>
        {% trans %}Members{% endtrans %}
      </template>
      <template #members-body>
        {% include "groups/snippets/manage_member_permissions.html" %}
      </template>
      <template #rules-head>
        {% trans %}Rules{% endtrans %}
      </template>
      <template #rules-body>
        {% include "groups/snippets/manage_member_rules.html" %}
      </template>
    </nav-tabs>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      methods: {
        async removeRule(rule) {
          const msg = $t('Are you sure you want to remove this rule?');
          const input = await this.$refs.dialog.open(msg);

          if (!input.status) {
            return;
          }

          rule.disabled = true;

          try {
            await axios.delete(rule._actions.remove);

            this.$refs.pagination.update();
            kadi.base.flashSuccess($t('Rule removed successfully.'));
          } catch (error) {
            kadi.base.flashDanger($t('Error removing rule.'), error.request);
            rule.disabled = false;
          }
        },
      },
    });
  </script>
{% endblock %}
