/* Copyright 2024 Karlsruhe Institute of Technology
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License. */

@import 'styles/workflows/vars.scss';

.item {
  background-color: $context-menu-color;
  cursor: pointer;
  padding: 4px;
  position: relative;
  width: 250px;

  &:hover {
    background-color: darken($context-menu-color, 10%);
  }

  &:first-child {
    border-top-left-radius: $context-menu-radius;
    border-top-right-radius: $context-menu-radius;
  }

  &:last-child {
    border-bottom-left-radius: $context-menu-radius;
    border-bottom-right-radius: $context-menu-radius;
  }
}
