/* Copyright 2024 Karlsruhe Institute of Technology
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License. */

$context-menu-border-color: #c9c9c9;
$context-menu-color: #f7f7f7;
$context-menu-radius: 3px;

$bg-builtin: #f7f7f7;
$bg-env: #478e59;
$bg-program: #2c3e50;

$socket-margin: 5px;
$socket-size: 22px;
