{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="container-fluid bg-primary py-2">
  <a href="{{ url_for('main.index') }}" class="footer-item mr-4">{% trans %}Home{% endtrans %}</a>
  <a href="{{ url_for('main.about') }}" class="footer-item mr-4">{% trans %}About{% endtrans %}</a>
  <a href="{{ url_for('main.help') }}" class="footer-item mr-4">{% trans %}Help{% endtrans %}</a>

  {% if get_sys_config(const.SYS_CONFIG_TERMS_OF_USE) %}
    <a href="{{ url_for('main.terms_of_use') }}" class="footer-item ws-nowrap mr-4">
      {% trans %}Terms of use{% endtrans %}
    </a>
  {% endif %}

  {% if get_sys_config(const.SYS_CONFIG_PRIVACY_POLICY) %}
    <a href="{{ url_for('main.privacy_policy') }}" class="footer-item ws-nowrap mr-4">
      {% trans %}Privacy policy{% endtrans %}
    </a>
  {% endif %}

  {% if get_sys_config(const.SYS_CONFIG_LEGAL_NOTICE) %}
    <a href="{{ url_for('main.legal_notice') }}" class="footer-item ws-nowrap mr-4">
      {% trans %}Legal notice{% endtrans %}
    </a>
  {% endif %}

  {% for title, url in get_sys_config(const.SYS_CONFIG_NAV_FOOTER_ITEMS) %}
    <a href="{{ url }}" target="_blank" rel="noopener noreferrer" class="footer-item ws-nowrap mr-4">{{ title }}</a>
  {% endfor %}

  {{ template_hook("kadi_get_nav_footer_items") }}

  <hr class="d-block d-lg-none my-2">
  <span v-cloak id="base-locale-chooser">
    <locale-chooser cookie-name="{{ const.LOCALE_COOKIE_NAME }}"
                    :cookie-secure="{{ config['LOCALE_COOKIE_SECURE'] | tojson_escaped }}"
                    :locales="{{ const.LOCALES | tojson_escaped }}">
    </locale-chooser>
  </span>
</div>
