{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">

{% if get_sys_config(const.SYS_CONFIG_ROBOTS_NOINDEX) %}
  <meta name="robots" content="noindex, nofollow">
{% endif %}

<link rel="apple-touch-icon" href="{{ static_url('favicons/apple-touch-icon.png') }}" sizes="180x180">
<link rel="icon" href="{{ static_url('favicons/favicon-32x32.png') }}" sizes="32x32" type="{{ const.MIMETYPE_PNG }}">
<link rel="icon" href="{{ static_url('favicons/favicon-16x16.png') }}" sizes="16x16" type="{{ const.MIMETYPE_PNG }}">
<link rel="manifest" href="{{ static_url('favicons/site.webmanifest') }}">
<link rel="mask-icon" href="{{ static_url('favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
<link rel="stylesheet" href="{{ static_url('dist/styles/main.css') }}" type="text/css">
