{# Copyright 2023 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<dynamic-pagination endpoint="{{ url_for('api.get_registered_applications') }}"
                    placeholder="{% trans %}No applications.{% endtrans %}"
                    :per-page="5">
  <template #default="props">
    <p>
      <strong>{% trans %}Registered applications{% endtrans %}</strong>
      <span class="badge-total">{$ props.total $}</span>
    </p>
    <ul v-if="props.total > 0" class="list-group">
      <li class="list-group-item py-2 bg-light">
        <div class="row">
          <div class="col-md-2">{% trans %}Name{% endtrans %}</div>
          <div class="col-md-3">{% trans %}Created at{% endtrans %}</div>
          <div class="col-md-2">{% trans %}Client ID{% endtrans %}</div>
          <div class="col-md-4">{% trans %}Scopes{% endtrans %}</div>
        </div>
      </li>
      <li v-for="application in props.items" :key="application.id" class="list-group-item">
        <div class="row align-items-center mb-2">
          <div class="col-md-2 mb-2 mb-md-0">
            <strong>{$ application.client_name $}</strong>
          </div>
          <div class="col-md-3 mb-2 mb-md-0">
            <local-timestamp :timestamp="application.created_at"></local-timestamp>
            <br>
            <small class="text-muted">
              (<from-now :timestamp="application.created_at"></from-now>)
            </small>
          </div>
          <div class="col-md-2 mb-2 mb-md-0">
            <pre class="ws-pre-wrap mb-0">{$ application.client_id $}</pre>
          </div>
          <div class="col-md-3 mb-2 mb-md-0">
            <scopes-viewer :scope="application.scope"></scopes-viewer>
          </div>
          <div class="col-md-2 d-md-flex justify-content-end">
            <a class="btn btn-sm btn-light"
               title="{% trans %}Edit application{% endtrans %}"
               :href="application._links.edit">
              <i class="fa-solid fa-pencil"></i> {% trans %}Edit{% endtrans %}
            </a>
          </div>
        </div>
        <small>
          <i class="fa-solid fa-arrow-up-right-from-square mr-1"></i>
          <a target="_blank" rel="noopener noreferrer" :href="application._links.authorize">
            <strong>{% trans %}Example authorization request{% endtrans %}</strong>
          </a>
        </small>
      </li>
    </ul>
  </template>
</dynamic-pagination>
<hr>
<dynamic-pagination ref="pagination"
                    endpoint="{{ url_for('api.get_authorized_applications') }}"
                    placeholder="{% trans %}No applications.{% endtrans %}"
                    :per-page="5">
  <template #default="props">
    <p>
      <strong>{% trans %}Authorized applications{% endtrans %}</strong>
      <span class="badge-total">{$ props.total $}</span>
    </p>
    <ul v-if="props.total > 0" class="list-group">
      <li class="list-group-item py-2 bg-light">
        <div class="row">
          <div class="col-md-2">{% trans %}Name{% endtrans %}</div>
          <div class="col-md-5">{% trans %}Website{% endtrans %}</div>
          <div class="col-md-4">{% trans %}Scopes{% endtrans %}</div>
        </div>
      </li>
      <li v-for="application in props.items" :key="application.id" class="list-group-item">
        <div class="row align-items-center">
          <div class="col-md-2 mb-2 mb-md-0">
            <strong>{$ application.client.client_name $}</strong>
          </div>
          <div class="col-md-5 mb-2 mb-md-0">
            <a target="_blank" rel="noopener noreferrer" :href="application.client.client_uri">
              <i class="fa-solid fa-arrow-up-right-from-square fa-sm mr-1"></i>
              <strong>{$ application.client.client_uri $}</strong>
            </a>
          </div>
          <div class="col-md-4 mb-2 mb-md-0">
            <scopes-viewer :scope="application.scope"></scopes-viewer>
          </div>
          <div class="col-md-1 d-md-flex justify-content-end">
            <button type="button"
                    class="btn btn-sm btn-danger"
                    title="{% trans %}Revoke access{% endtrans %}"
                    :disabled="application.disabled"
                    @click="revokeAccess(application)">
              <i class="fa-solid fa-ban"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </template>
</dynamic-pagination>
