{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/manage_record_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html", url=url_for("records.view_record", id=record.id), title=record.title %}
{% endblock %}

{% block content %}
  <confirm-dialog ref="dialog"></confirm-dialog>

  {% if current_collection %}
    <div class="card mb-2">
      <div class="card-body py-2">
        <div class="row">
          <div class="col-md-4">
            {% if prev_record %}
              <a href="{{ url_for('records.view_record', id=prev_record.id, collection=current_collection.id) }}">
                <i class="fa-solid fa-angle-left mr-2"></i>
                <strong>{% trans %}Previous record{% endtrans %}</strong>
              </a>
              <hr class="my-2 d-md-none d-block">
            {% endif %}
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <a href="{{ url_for('collections.view_collection', id=current_collection.id) }}"
               title="{{ current_collection.title }}">
              <strong>{{ current_collection.title | truncate(50) }}</strong>
            </a>
          </div>
          <div class="col-md-4">
            {% if next_record %}
              <hr class="my-2 d-md-none d-block">
              <div class="d-flex justify-content-end">
                <a href="{{ url_for('records.view_record', id=next_record.id, collection=current_collection.id) }}">
                  <strong class="mr-2">{% trans %}Next record{% endtrans %}</strong>
                  <i class="fa-solid fa-angle-right"></i>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div data-tour="record" class="card">
    <nav-tabs ref="navTabs"
              :tabs="['overview', 'files', 'links', 'permissions', 'revisions'
                      {% if config['EXPERIMENTAL_FEATURES'] %}, 'dashboard'{% endif %}]"
              @change-tab="changeTab">
      <template #overview-head>
        <strong>{% trans %}Overview{% endtrans %}</strong>
      </template>
      <template #overview-body>
        {% include "records/snippets/view_overview.html" %}
      </template>
      <template #files-head>
        <i class="fa-solid fa-file"></i> {% trans %}Files{% endtrans %}
      </template>
      <template #files-body>
        {% include "records/snippets/view_files.html" %}
      </template>
      <template #links-head>
        <i class="fa-solid fa-link"></i> {% trans %}Links{% endtrans %}
      </template>
      <template #links-body>
        {% include "records/snippets/view_links.html" %}
      </template>
      <template #permissions-head>
        <i class="fa-solid fa-shield-halved"></i> {% trans %}Permissions{% endtrans %}
      </template>
      <template #permissions-body>
        {% include "records/snippets/view_permissions.html" %}
      </template>
      <template #revisions-head>
        <i class="fa-solid fa-clock-rotate-left"></i> {% trans %}Revisions{% endtrans %}
      </template>
      <template #revisions-body>
        {% include "records/snippets/view_revisions.html" %}
      </template>
      {% if config['EXPERIMENTAL_FEATURES'] %}
        <template #dashboard-head>
          <i class="fa-solid fa-chart-line"></i> {% trans %}Dashboard{% endtrans %}
          <span class="badge badge-primary badge-mt-minus ml-1">Beta</span>
        </template>
        <template #dashboard-body>
          {% include "records/snippets/view_dashboard.html" %}
        </template>
      {% endif %}
    </nav-tabs>
  </div>
{% endblock %}

{% block scripts %}
  {{ render_js("app/records/view-record.js") }}
{% endblock %}
