{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/manage_record_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html",
             url=url_for("records.view_record", id=record.id, tab="revisions"),
             title=record.title %}

  {% if revision.model_class.__tablename__ == "record" %}
    {% snippet "snippets/breadcrumb.html",
               url=url_for("records.view_record_revision", record_id=record.id, revision_id=revision.id),
               title=title %}
  {% else %}
    {% snippet "snippets/breadcrumb.html",
               url=url_for("records.view_file_revision", record_id=record.id, revision_id=revision.id),
               title=title %}
  {% endif %}
{% endblock %}

{% block content %}
  {% snippet "records/snippets/back_to_record.html", record=record, tab="revisions" %}

  {% snippet "snippets/resources/revision_nav.html",
             next_revision=next_revision,
             prev_revision=prev_revision,
             endpoint=revision_endpoint,
             endpoint_args={"record_id": record.id} %}

  <div class="card">
    <div class="card-body">
      {% if revision.model_class.__tablename__ == "record" %}
        <revision-item endpoint="{{ url_for('api.get_record_revision', record_id=record.id, revision_id=revision.id) }}"
                       :latest-revision="{{ record.ordered_revisions.first().id }}"
                       :compare-latest="kadi.context.compare_latest">
        </revision-item>
      {% else %}
        <revision-item endpoint="{{ url_for('api.get_file_revision', record_id=record.id, revision_id=revision.id) }}"
                       :latest-revision="{{ revision.file.ordered_revisions.first().id }}">
        </revision-item>
      {% endif %}
    </div>
  </div>
{% endblock %}
