{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "base.html" %}

{% block breadcrumbs %}
  {% include "snippets/breadcrumb_home.html" %}
  {% snippet "snippets/breadcrumb.html", url=url_for("main.about"), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <p>
        {% trans strong_open="<strong>" | safe, strong_close="</strong>" | safe %}
          {{ strong_open }}Kadi4Mat{{ strong_close }}, or {{ strong_open }}Kadi{{ strong_close }} for short, is a
          generic and open source virtual research environment. Originally developed in the context of materials
          science, Kadi4Mat can be used for the management of any type of research data within different research
          disciplines and use cases. Kadi4Mat is being developed as part of several research projects at the {{
          strong_open }}Karlsruhe Institute of Technology (KIT){{ strong_close }}.
        {% endtrans %}
      </p>
      <p>
        {% trans em_open="<em>" | safe, em_close="</em>" | safe %}
          The goal of Kadi4Mat is to combine the ability to manage and exchange data, the {{ em_open }}repository{{
          em_close }} component, with the possibility to analyze, visualize and transform said data, the {{ em_open
          }}electronic lab notebook (ELN){{ em_close }} component. The focus on the repository component is on {{
          em_open }}warm data{{ em_close }}, i.e. unpublished data that is yet to be analyzed further, while in the ELN
          component it is on the automated and documented execution of heterogeneous workflows via an application
          programming interface (API). In this way, a customizable framework is created that facilitates good research
          data management practices and collaboration between researchers.
        {% endtrans %}
      </p>
      <hr>
      <div class="row">
        <div class="col-md-8 mb-4 mb-md-0">
          <ul class="mb-0 pl-3">
            <li>
              {% trans %}More information{% endtrans %}:
              <a href="{{ const.URL_INDEX }}" target="_blank" rel="noopener noreferrer">
                <strong>{{ const.URL_INDEX }}</strong>
              </a>
            </li>
            <li>
              {% trans %}Source code and issue tracking{% endtrans %}:
              <a href="https://gitlab.com/iam-cms/kadi" target="_blank" rel="noopener noreferrer">
                <strong>https://gitlab.com/iam-cms/kadi</strong>
              </a>
            </li>
            <li>
              {% trans %}Documentation{% endtrans %}:
              <ul class="mb-0 pl-4">
                <li>
                  {% trans %}Latest release{% endtrans %}:
                  <a href="{{ const.URL_RTD_STABLE }}" target="_blank" rel="noopener noreferrer">
                    <strong>{{ const.URL_RTD_STABLE }}</strong>
                  </a>
                </li>
                <li>
                  {% trans %}Current state{% endtrans %}:
                  <a href="{{ const.URL_RTD_LATEST }}" target="_blank" rel="noopener noreferrer">
                    <strong>{{ const.URL_RTD_LATEST }}</strong>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-4 d-md-flex justify-content-end align-items-end">
          <a href="https://www.kit.edu" target="_blank" rel="noopener noreferrer">
            <img class="img-fluid" src="{{ static_url('images/kit.png') }}" width="150">
          </a>
        </div>
      </div>
    </div>
    {% if user_active %}
      <div class="card-footer">
        <a href="{{ const.URL_RTD_STABLE }}/HISTORY.html"
           target="_blank"
           rel="noopener noreferrer"
           class="badge badge-primary font-weight-normal">
          Kadi4Mat v{{ version }}
        </a>
      </div>
    {% endif %}
  </div>

  {{ template_hook("kadi_get_about_templates") }}
{% endblock %}
