{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<li {% if tour_id %}data-tour="{{ tour_id }}"{% endif %}
    class="nav-item {% if request.base_url.startswith(url) %}active{% endif %}">
  <a href="{{ url }}"
     class="nav-link py-2 py-md-0"
     title="{% if key %}{{ '{} ({}+{})'.format(title, _('Shift'), key) }}{% else %}{{ title }}{% endif %}">
    {{ title }}

    {% if is_beta %}
      <span class="badge badge-light badge-mt-minus ml-1">Beta</span>
    {% endif %}
  </a>
</li>
