{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% if warning_msg %}
  <div class="card bg-danger text-white">
    <div class="card-body">{{ warning_msg }}</div>
  </div>
  <hr>
{% endif %}

<p>
  {% trans a_open='<a href="{}" target="_blank" rel="noopener noreferrer"><strong>'.format(export_url) | safe,
           a_close="</strong></a>" | safe,
           em_open='<em>' | safe,
           em_close='</em>' | safe %}
    All data will be uploaded as a single ZIP archive corresponding to the exported {{ a_open }}RO-Crate data{{ a_close
    }} of this resource, with user information excluded by default. Further customizations can be made using the {{
    em_open }}Customize export data{{ em_close }} settings below. Note that the uploaded data will not be published
    directly.
  {% endtrans %}
</p>
<p>
  {% trans %}
    In addition to the data, the following Zenodo metadata will be populated automatically based on the basic metadata
    of this resource:
  {% endtrans %}
</p>
<table class="table table-sm table-bordered">
  <tr>
    <td>Resource type</td>
    <td><em>Dataset</em></td>
  </tr>
  <tr>
    <td>Title</td>
    <td>{% trans %}The title of this resource.{% endtrans %}</td>
  </tr>
  <tr>
    <td>Publication date</td>
    <td>{% trans %}The current date.{% endtrans %}</td>
  </tr>
  <tr>
    <td>Creators</td>
    <td>{% trans %}The current user's display name and ORCID iD, if available.{% endtrans %}</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>{% trans %}The description of this resource, which will be converted to HTML.{% endtrans %}</td>
  </tr>
  <tr>
    <td>Licenses</td>
    <td>
      {% trans em_open="<em>" | safe, em_close="</em>" | safe %}
        The license of this resource, if available and supported by Zenodo, {{ em_open }}CC BY 4.0{{ em_close }}
        otherwise.
      {% endtrans %}
    </td>
  </tr>
  <tr>
    <td>Keywords and subjects</td>
    <td>{% trans %}The tags of this resource.{% endtrans %}</td>
  </tr>
  <tr>
    <td>Publisher</td>
    <td><em>Zenodo</em></td>
  </tr>
</table>
<p>
  {% trans a_open='<a href="{}" target="_blank" rel="noopener noreferrer"><strong>'.format(invenio_url) | safe,
           a_close="</strong></a>" | safe,
           em_open="<em>" | safe,
           em_close="</em>" | safe %}
    For advanced use cases, this metadata can be extended or substituted by using the generic metadata editor in the {{
    em_open }}Customize import metadata{{ em_close }} settings below. The entered metadata will be converted to a
    corresponding JSON structure and must align with the metadata supported by {{ a_open }}InvenioRDM{{ a_close }},
    which Zenodo is based on. While not usually part of this metadata, a Zenodo community to submit the publication to
    can also be specified by entering a metadatum with {{ em_open }}community{{ em_close }} as key and the identifier of
    the community as string value.
  {% endtrans %}
</p>
