{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<export-filter-field resource-type="{{ resource.__tablename__ }}"
                     export-type="{{ const.EXPORT_TYPE_RO_CRATE }}"
                     :field="{{ form.export_filter }}"
                     {% if resource.extras %}:extras="{{ resource.extras | tojson_escaped }}"{% endif %}>
</export-filter-field>
<extras-field template-endpoint="{{ url_for('api.select_templates', type=['record', 'extras']) }}"
              :field="{{ form.extras }}"
              :editing-mode="true"
              :is-collapsed="true">
</extras-field>
