{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<upload-manager get-uploads-endpoint="{{ url_for('api.get_uploads', id=record.id) }}"
                :new-upload-endpoint="kadi.context.upload_endpoint">
  <div class="mb-1">
    <small class="text-muted">
      <i class="fa-solid fa-circle-info"></i>
      {% trans duration=const.ACTIVE_UPLOADS_MAX_AGE | duration %}
        Note that unfinished uploads will be deleted automatically after {{ duration }}.
      {% endtrans %}
    </small>
  </div>
</upload-manager>
