{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% set can_update_record = has_permission(current_user, "update", "record", record.id) %}
{% set select_files_url = partial(url_for, "api.select_files") %}

<component :is="dashboardComponent"
           v-cloak
           select-endpoint="{{ select_files_url(record=record.id, mimetype=const.MIMETYPE_DASHBOARD) }}"
           select-file-endpoint="{{ select_files_url(order_by_record=record.id) }}"
           select-json-endpoint="{{ select_files_url(order_by_record=record.id, mimetype=const.MIMETYPE_JSON) }}"
           select-image-endpoint="{{ select_files_url(order_by_record=record.id, mimetype=const.IMAGE_MIMETYPES) }}"
           select-template-endpoint="{{ url_for('api.select_templates', type='record') }}"
           select-search-endpoint="{{ url_for('api.select_saved_searches') }}"
           load-search-endpoint="{{ url_for('api.get_saved_search', id=0)[:-2] }}"
           new-record-endpoint="{{ url_for('records.new_record') }}"
           records-endpoint="{{ url_for('api.get_records') }}"
           {% if can_update_record %}
             upload-endpoint="{{ url_for('api.new_upload', id=record.id) }}"
           {% endif %}>
</component>
<i class="fa-solid fa-circle-notch fa-spin" data-placeholder></i>
